{% extends "proyectoInicial/plantilla_base.html" %}

{% block title %} Avance {% endblock %}

{% block content %}

<div class = "container  mb-5" style=" width: 100%;">
    <img src="../../static/proyectoInicial/images/sta_isabel.jpg" style=" width: 100%; margin-top: 5%;" class="img-static img-center border border-danger">
    <!--Primera seccion de la fila-->
    <div class="row" style="margin-top: 5%;">
        
        <div class="col-sm-6">
          <div class="card" style="background-color:#EE6F57;">
            <div class="card-body">
              <a href="#" style=" width: 100%; background-color:#EE6F57;" class="btn text-white">Revisar Informe Personal</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="background-color:#EE6F57;">
                <div class="card-body">
                   <a href="#" style=" width: 100%; background-color:#EE6F57;" class="btn text-white">Revisar Informe Producto</a>
                </div>
          </div>
        </div>
      </div>
      <!--segunda seccion de la fila-->
      <div class="row" style="margin-top: 5%;">
        <div class="col-sm-6">
            <div class="card" style="background-color:#EE6F57;">
                <div class="card-body">
                    <a href="#" style=" width: 100%; background-color:#EE6F57;" class="btn text-white">Informe Mensual de Productos</a>
                </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="background-color:#EE6F57;">
                <div class="card-body">
                   <a href="#" style=" width: 100%; background-color:#EE6F57;" class="btn text-white">Registrar Turno</a>
                </div>
          </div>
        </div>
      </div>  
</div>








{% endblock %}
