{% extends "proyectoInicial/plantilla_base.html" %}

{% block title %} Avance {% endblock %}

{% block content %}

    <h1>Pagina del cajero general</h1>

    <!--div class = "container  mb-5" style=" width: 100%;">
  <img src="../../static/proyectoInicial/images/eucaliptus_2.jpg" style=" width: 50%; margin-top: 5%; margin-left: 25%;" class="img-static img-center">-->

    <div class = "container  mb-5" style=" width: 100%;">
        <img src="../../static/proyectoInicial/images/eucaliptus_2.jpg" style=" width: 50%; margin-top: 5%; margin-left: 25%;" class="img-static img-center">
        <div class="row">
            <div class="col-sm-6">
              <div class="card boton" >
                                  
                  <a href="#" class="btn btn-primary" style=" box-sizing: border-box;background: #EE6F57;border: 5px solid #FFFFFF;box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);border-radius: 15px;">Go somewhere</a>
                
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card ">
                <div class="card-body boton">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>          
        </div>
    </div>








{% endblock %}
