{% extends "proyectoInicial/plantilla_base.html" %}

{% block title %} Avance {% endblock %}

{% block content %}

<div class = "container  mb-5" style=" width: 100%;">
    <img src="../../static/proyectoInicial/images/eucaliptus_2.jpg" style=" width: 100%; margin-top: 5%;" class="img-static img-center border border-danger">
    <!--Primera seccion de la fila-->
  
        
          <div class="card" style="background-color:grey; margin-top: 5%; style= width: 100%;">
            <div class="card-body" style ="margin-top: 5%; style= width: 100%;">
             <h3>Ingresa productos y cantidazd total de dinero</h3>
            </div>
          </div>
       
            <div class="card" style="background-color:#EE6F57; margin-top: 5%; margin-left: 25%; width: 50%;">
                <div class="card-body" >
                   <a href="#" style=" background-color:#EE6F57; margin-left: 25%" class="btn text-white">Registrar Venta</a>
                </div>
          </div>
  
</div>








{% endblock %}
