<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    
    <div class="container-fluid">
      <a href="#"> </a>
      <a class="navbar-brand fs-4" href="#"><b>PROCEAN</b> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a href="#"  class="nav-link">Inicio </a>
          <a href="#"  class="nav-link">Nuestra campaña</a>
          <a href="#"  class="nav-link">Sobre nosotros</a>
          <a href="#" class="nav-link">Ayuda al oceano</a>
          <a href="#"  class="nav-link">Recibe nuestras novedades</a>
          <a href="#" class="nav-link">Noticias</a>
          <a href="#"  class="nav-link">Donación</a>
        </div>
      </div>
    </div>
  </nav>
  