{% extends "proyectoInicial/plantilla_base.html" %}

{% block title %} Avance {% endblock %}

{% block content %}


<div class="container mb-5">



    <div class="row">

            <img src="../../static/proyectoInicial/images/supermercado_santa_isabel.jpeg" >

    </div>


    <div class="row justify-content-md-center md-5">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h1>Holaaaaaaaaaaa</h1>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h1>Holaaaaaaaaaaa</h1>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-md-center md-5">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h1>Holaaaaaaaaaaa</h1>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}
