{% extends "proyectoInicial/plantilla_base.html" %}

{% block title %} Avance {% endblock %}

{% block content %}

<div class = "container  mb-5" style=" width: 100%;">
    <img src="../../static/proyectoInicial/images/supermercado_santa_isabel.jpeg" style=" width: 100%; margin-top: 5%;" class="img-static img-center border border-danger">
    <!--Primera seccion de la fila-->
    <img src="../../static/proyectoInicial/images/upload.png" style=" width: 50%; margin-top: 5%; margin-left: 25%" class="img-static img-center border">
    <div class="card" style="background-color:#EE6F57; margin-top: 5%">
        <div class="card-body">
          <a href="" style=" width: 100%; background-color:#EE6F57;" class="btn text-white">Subir Informe</a>
        </div>
    </div>
</div>







{% endblock %}
