{% extends "proyectoInicial/plantilla_base.html" %}

{% block title %} Avance {% endblock %}

{% block content %}



<div class="container-fluid">

    <div class="row">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h1>Holaaaaaaaaaaa</h1>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h1>Holaaaaaaaaaaa</h1>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h1>Holaaaaaaaaaaa</h1>
                </div>

            </div>
        </div>

    </div>
</div>








{% endblock %}
