{% extends "proyectoInicial/plantilla_base.html" %}
{% block title %} Avance {% endblock %}

{% block content %}

<div class = "container  mb-5" style=" width: 100%;">
    <img src="../../static/proyectoInicial/images/supermercado_santa_isabel.jpeg" style=" width: 100%; margin-top: 5%;" class="img-static img-center border border-danger">
    <!--Primera seccion de la fila-->
    <div class="row" style="margin-top: 5%;">
        
        <div class="col-sm-6">
          <div class="card" style="background-color:#EE6F57;">
            <div class="card-body text-white">
              <P>JOAQUIN ANDRES SILVA DONOSO</P>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="box" style="width: 10%; height:50%; background-color:white;">
                <div class="card-body">
                   
                </div>
          </div>
        </div>
    </div>
     <!--Segunda seccion de la fila-->
     <div class="row" style="margin-top: 5%;">
        
        <div class="col-sm-6">
          <div class="card" style="background-color:#EE6F57;">
            <div class="card-body text-white" >
                <P>BENJAMIN INGNACIO ROJAS HENRIQUEZ</P>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="box" style=" width: 10%; height:50%; background-color:green;">
                <div class="card-body">
       
                </div>
          </div>
        </div>
    </div>

    <!--Segunda seccion de la fila-->
    <div class="row" style="margin-top: 5%;">
        
        <div class="col-sm-6">
          <div class="card" style="background-color:#EE6F57;">
            <div class="card-body text-white">
                <P>MATIAS EZEQUIEL OSORIO QUIÑONES</P>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="box" style="width: 10% ; height:50%; background-color:red;">
                <div class="card-body">
                   
                </div>
          </div>
        </div>
    </div>
</div>







{% endblock %}
